/* https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Selectors 
https://www.w3schools.com/css/css_selectors.asp */

.my-border {
    border-style: dotted;
    border-width: 2px;
    border-color: blueviolet;
}

.my-shadow {
    text-shadow: 2px 2px 10px blue;
}

h4 {
    background-color: gray;
}

h3 .my-bg{
    background-color: aquamarine;
}

#my-style-id {
    background-color: beige;
}